<?php
global $conf;
$conf['db']['username'] = 'username';
$conf['db']['password'] = 'password';
$conf['db']['database'] = 'database';
$conf['freeview_numbers'] = array(
  'hd.bbc1.bbc.co.uk' => '1',
  'hd.bbc2.bbc.co.uk' => '2',
  'hd.london.itv1.itv.com' => '3',
  'hd.channel4.com' => '4',
  'channel5.com' => '5',
  'itv2.itv.com' => '6',
  'hd.bbcthree.bbc.co.uk' => '7',
  'londonlive.standard.co.uk' => '8',
  'bbcfour.bbc.co.uk' => '9',
  'itv3.itv.com' => '10',
  'pick.sky.com' => '11',
  'dave.uktv.co.uk' => '12',
  'plus-1.channel4.com' => '13',
  'more4.channel4.com' => '14',
  'filmfour.channel4.com' => '15',
  'really.uktv.co.uk' => '17',
  '4music.channel4.com' => '18',
  'yesterday.uktv.co.uk' => '19',
  'drama.uktv.co.uk' => '20',
  'fiveusa.channel5.com' => '21',
  'itv4.itv.com' => '24',
  'plus-1.dave.uktv.co.uk' => '25',
  'be.itv.com' => '26',
  'plus-1.itv2.itv.com' => '27',
  'e4.channel4.com' => '28',
  'plus-1.e4.channel4.com' => '29',
  'fivestar.channel5.com' => '30',
  'spike.com' => '31',
  'moviemix.movies4men.co.uk' => '32',
  'plus-1.london.itv1.itv.com' => '33',
  'fv.plus-1.itv3.itv.com' => '34',
  'quest.discoveryeurope.com' => '37',
  'plus-1.quest.discoveryeurope.com' => '38',
  'foodnetwork.com' => '41',
  'travelchannel.co.uk' => '42',
  'plus-1.channel5.com' => '44',
  'plus-1.filmfour.channel4.com' => '45',
  'challengetv.co.uk' => '46',
  '4seven.channel4.com' => '47',
  '1.movies4men.co.uk' => '48',
  'fv.plus-24.channel5.com' => '55',
  'uk.viva.tv' => '58',
  'entertainment.truemovies.tv' => '61',
  'communitychannel.org' => '63',
  'action.cbs.com' => '64',
  'reality.cbs.com' => '66',
  'trutv.com' => '68',
  '1.trutv.com' => '69',
  'horror.cbs.com' => '70',
  'motors.tv' => '71',
  'drama.cbs.com' => '74',
  'talkingpicturestv.co.uk' => '81',
  'london.bbc1.bbc.co.uk' => '101',
  'england.bbc2.bbc.co.uk' => '102',
  'london.itv1.itv.com' => '103',
  'channel4.com' => '104',
  'bbcthree.bbc.co.uk' => '107',
  'hd.bbcfour.bbc.co.uk' => '109',
  'hd.plus-1.channel4.com' => '113',
  'hd.4seven.channel4.com' => '147',
  'cb4M' => '1000',
  'plus-1.itv4.itv.com' => '1000',
  'racinguk.tv' => '1000',
  'vintage.tv' => '1000'
);
